@media (min-width: 900px) {
    .flex-container {
        display: flex;
    }

    .col1of2 {
        flex: 1;
    }

    .col1of3:nth-child(1) {
        flex: 0 0 15%;
    }
    
    .col1of3:nth-child(2) {
        flex: 0 0 60%;
    }
    
    .col1of3:nth-child(3) {
        flex: 0 0 25%;
    }
}
